@import "../../styles/global";

.carouselWrapper {
  h4{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;

  }
  background-color: #f8f8f6;
  .carouselContainer {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    &_image {
      height: 240px;
      img {
        object-fit: cover;
        height: 100%;
        border-radius: 16px;
        border: 2px solid $color-black !important;
      }
    }
    &_text {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      small {
        margin-top: 30px;
      }
      & > * {
        text-align: left;
      }
    }
  }
  .arrowsContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    button {
      border: none;
      background-color: transparent;
    }
  }
}

@media (min-width: $md-breakpoint) {
  .carouselWrapper {
    .carouselContainer {
      margin: 0 auto;
      flex-direction: row;
      &_image {
        height: 300px;
        width: 40%;
      }
      &_text {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 30px;
        & > * {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .carouselWrapper {
    .carouselContainer {
      &_image {
        width: 30%;
      }
      &_text {
        width: 70%;
      }
    }
  }
}