@import "../../styles/colors";
@import "../../styles/text";
@import "../../styles/global";
.DualAsymmetric {
  background-color: #f8f8f6;
  .dualContainer {
    height: 490px;
    display: flex;
    justify-content: space-evenly;

    .pink {
      background-color: #ff42d7;
    }
    .yellow {
      background-color: #ccff00;
    }
    .green {
      background-color: #00ed1c;
    }
    .lightblue {
      background-color: #00d9ff;
    }

    .asymmetricImageLeftImg {
      display: flex;
      flex-direction: row-reverse;
    }

    .titleContainer {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      display: flex;
      align-items: center;
      h1 {
        margin-left: 80px;
        line-height: 120%;
        width: 80%;
      }
    }
    .asymmetricImage {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        object-fit: fill;
      }
    }
  }
}


@media (max-width: $md-breakpoint) {
  .DualAsymmetric .dualContainer {
    height: auto;
  }

  .asymmetricImage {
    display: none;
  }

  .DualAsymmetric .dualContainer .titleContainer {
    height: 354px;
    width: 100%;
    h1 {
      margin-left: 10px;
      width: 100%;
    }
  }
}

@media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint) {
  .DualAsymmetric .dualContainer {
    .asymmetricImage {
      display: none;
     
    }
  
  
  .titleContainer {
    h1 {
      margin-left: 30px;
    }
    width: 100%;
  }
}
}
