@import "../../styles/colors";
@import "../../styles/text";
@import "../../styles/global";


.pageNotFound-container{

   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
 
   .titleImage{
    font-family: $secondary-font;
    position: absolute;
    top: 80%;
    left: 40%;
    padding-bottom: 20px;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 500;
    color: white;
   }

  .image-container{
    position: relative;
    max-width: 1000px;
     .backgroundImage{
     background-color: blue($color: #000000);
     height: 360px;
     border-radius: 16px;
    
     img{
       object-fit: cover;
       width: 100%;
       height: 100%;
       border-radius: 16px;
       border: 2px solid black
     }
   
 }
  }

  .text{
    margin: 30px 0px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .button-pageNotFound {
         width: fit-content;
         .custom-link {
           display: flex;
           flex-direction: row;
           border-radius: 10px;
           box-shadow: 0 4px 7px rgba(0,0,0,.7);
           background-color: black;
           color: white !important;
           padding: 10px;
           margin: 20px;
           &:hover {
             transform: scale(.94);
           }
       
           .icon {
             border-left: solid 1px black;
             margin-left: 5px;
           }
    
         }
       }
}

@media (min-width: $md-breakpoint){
  .pageNotFound-container{
    .image-container{
       .backgroundImage{
       height: 490px;
       }
     }
     .titleImage{
      font-size: 48px;
     }
     .text{
      margin: 30px 0px;
      font-size: 36px;
    }
  }
}

@media (min-width: $lg-breakpoint){
  .pageNotFound-container{

     .titleImage{
      font-size: 56px;
     }
     .text{
      font-size: 36px;
    }
  }
}

// .pageNotFound-container{
//   background-color: blueviolet;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 30px;
//   h1{
//      font-size: 48px;
//     }
//  .backgroundImage{
//      background-color: blue($color: #000000);
//      width: 360px;
//      height: 360px;
//      border-radius: 16px;
    
//      img{
//        object-fit: cover;
//        width: 360px;
//        height: 360px;
//        border-radius: 16px;
//        border: 2px solid black;
//      }
//  }
//  .button-pageNotFound {
//      width: fit-content;
//      .custom-link {
//        display: flex;
//        flex-direction: row;
//        border-radius: 10px;
//        box-shadow: 0 4px 7px rgba(0,0,0,.7);
//        background-color: black;
//        color: white !important;
//        padding: 10px;
      
//        &:hover {
//          transform: scale(.94);
//        }
   
//        .icon {
//          border-left: solid 1px black;
//          margin-left: 5px;
//        }

//      }
//    }
//    .title-pageNotFound {
//      display: flex;
//      flex-direction: row;
//      .title-pageNotFound .icon {
//       font-size: 40px;
//       border: solid 2px green;
//       border-radius: 10px;
//       margin-left: 10px;
//       height: 100%;
//     }

 
// }

// }



// .buttonBlack-pageNotFound{
//   margin-top: 20px;
//   .custom-link {
//     background-color: black;
//     color: white !important;
//     margin-left: 7px;

//     .icon {
//       border-right: solid 1px white;
//     }
//   }
// }

// .pageNotFound-container {
//   position: relative;
//   width: 60%;
//   margin: 0 auto;
// }

// .image-pageNotFound {
//   position: relative;

//   width: 100%;
//   border-radius: 16px;
//   box-shadow: 0 2px 5px rgba(0,0,0,.4);
//   margin: 0 auto;
//   overflow: hidden;
// }

// .pageNotFound-text-button {
//   position: absolute;
//   padding: 50px;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: flex-end;
//   color: white;
//   }

// /* Media query Banner simple mobile */
// @media (max-width: $sm-breakpoint) {
//   .pageNotFound-text-button {
//     position: absolute;
//     top: 20px;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     color: white;
//     padding: 20px;
//   }
//   .pageNotFound-container {
//     width: 95%;
//   }

//   .title-pageNotFound {
//     padding-bottom: 20px;
//   }

//   .title-pageNotFound .icon {
//     font-size: 40px;
//     border: solid 2px green;
//     border-radius: 10px;
//     margin-left: 10px;
//     height: 80%;
//   }

//   .custom-link p {
//     font-family: Figtree, sans-serif;
//     white-space: nowrap;
//     padding: 0px 15px;
//     margin: 0 auto;
//     border-left: solid 1px white;
//   }


//   .button-pageNotFound.dark {
//     margin-top: 20px;
//     margin-left: 0px;
//     width: 100%;
// }
// }
// /* End media query Banner simple mobile */

// /* Media query Banner simple tablet */
// @media (min-width: $md-breakpoint) {
//   .pageNotFound-container{
//   .backgroundImage{
//     max-width: 80%;
//     max-height: 70%;
//     width: 930px;
//     height: 490px;
   
//     img{
//       max-width: 100%;
//       max-height: 70%;
//       width: 930px;
//       height: 490px; 
//     }
//  }
// }
//   .pageNotFound-text-button {
//     position: absolute;
//     top: 20px;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     color: white;
//     padding: 20px;
//   }
//   .pageNotFound-container {
//     width: 95%;
//   }

//   .title-pageNotFound {
//     padding-bottom: 20px;
//   }


//   .custom-link p {
//     font-family: Figtree, sans-serif;
//     white-space: nowrap;
//     padding: 0px 15px;
//   }

// }
// /* End media query Banner simple tablet */


// /* Media query btn get in touch mobile */
// @media (min-width: $lg-breakpoint) {
//   .button-pageNotFound.dark{
//     margin-top: 0px;
//   }

// }
// /* End media query btn get in touch mobile */

