
$bg-primary: var(--bg-primary);
$bg-secondary: var(--bg-secondary);
$bg-elevation-1: var(--bg-elevation-1);
$color-text-primary: var(--color-text-primary);
$color-border: var(--color-border);
$bg-gray-elevation-1: var(--bg-gray-elevation-1);
$bg-gray-elevation-2: var(--bg-gray-elevation-2);



// Customizable colors

$color-primary: #00d9ff;
$color-secondary: #ce67ff;
$color-tertiary: #ccff00;

$color-base: #cccccc;

$color-white: #ffffff;
$color-black: #000000;
$color-black-text: #000000;

$color-link-active: #1A73E8;


// state colors

$color-warning: #F2994A;
$color-success: #219653;
$color-danger: #EB5757;
$color-info: #2D9CDB;
$color-disabled: mix($color-black, white, 10%);