// breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

/* Gotan fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital@0;1&family=Roboto:wght@300&display=swap');
/*
font-family: 'Figtree', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
/*
font-family: 'Space Grotesk', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*
font-family: 'Inter', sans-serif;
*/

$primary-font: 'Space Grotesk', sans-serif;
$secondary-font: "Figtree", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

p {
  font-family: $secondary-font;
  font-size: 18px;
}

h2{
  font-size: 48px;
  font-weight: 500;
}

.body-large, .body-large>* {
  font-size: 20px !important;
  line-height: 31px;
}

small {
  font-size: 14px;
  line-height: 16px;
}

.label-small, .label-small>* {
  font-size: 12px;
}

@media (min-width: $md-breakpoint) {
  small {
    font-size: 16px;
  }
  
  .body-large, .body-large>* {
    font-size: 24px !important;
  }
  .label-small, .label-small>* {
    font-size: 14px;
  }
  h2 {
    font-size: 64px;
  }
}
