@import  'colors','text','reset';

.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: $md-breakpoint) {
    .section-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
