@import  'colors','text','reset';

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: $md-breakpoint) {
    .section-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
