 .bannerSimple-text-button {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .title-bannerSimple {
   display: flex;
   flex-direction: row;

   .icon {
     font-size: 40px;
     border: solid 2px black;
     border-radius: 10px;
     margin-left: 10px;
   }
 }
 .button-bannerSimple {
   .custom-link {
     display: flex;
     flex-direction: row-reverse;
     border-radius: 10px;
     border: black solid 2px;
     background-color: white;
     color: black !important;
     padding: 15px;

     .icon {
       border-left: solid 1px black;
       margin-left: 5px;
     }
   }
 }

 .image-bannerSimple {
   width: 100%;
   height: 355px;
   border-radius: 16px;
   border: solid 2px black;
   margin: 0 auto;
 }