@import "../../styles/global";

.animatedAccordionContainer {
  h2, &__summary {
    margin-bottom: 20px;
  }
}

.sectionContainer {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid $color-black;
  border-radius: 8px;
  .body-large {
    margin-bottom: 15px;
    display: flex;
    div{
      width: max-content;
      height: fit-content;
      border: 1.5px solid $color-black;
      border-radius: 8px;
      padding: 2px 7px;
      background-color: $color-white;
      margin-right: 5px;
    }
  }
}

.sections .sectionContainer:nth-child(n+1) {
  background-color: $color-secondary;
}

.sections .sectionContainer:nth-child(n+2) {
  background-color: $color-primary;
}

.sections .sectionContainer:nth-child(n+3) {
  background-color: $color-tertiary;
}

@media (min-width: $md-breakpoint) {
  .animatedAccordionContainer {
    h2, &__summary {
      margin-bottom: 35px;
    }
  }
}

